In [1]:
# Dependencies
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from us import states
from scipy.stats import linregress
from matplotlib import pyplot as plt

from config_z import (gkey)

# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [2]:
#File to Load (Remember to Change These)
file_to_load = "IRS_Data_2015_CSV.csv"
file_to_load_2 = "MplsZipcodes.csv"

#Read Purchasing File and store into Pandas data frame
IRS_data = pd.read_csv(file_to_load)
Zip_data = pd.read_csv(file_to_load_2)

In [3]:
IRS_data = pd.read_csv('IRS_Data_2015_CSV.csv' , usecols = ['Zip codes','-1','-17'])

In [4]:
IRS_data = IRS_data.dropna()

In [5]:
IRS_data_fliterd = IRS_data.drop_duplicates('Zip codes')

In [6]:
IRS_data_cleaned = IRS_data_fliterd.rename (columns={"-1":"Number of returns","-17":"Total income amount"})
IRS_data_cleaned["Zip codes"] = (IRS_data_cleaned["Zip codes"]).astype(int)

In [8]:
combined_zip_codes = pd.merge(Zip_data, IRS_data_cleaned, on="Zip codes")
combined_zip_codes

    Zip codes        Lat       Long Number of returns Total income amount
0       55401  44.984577 -93.269097             6,560             951,609
1       55402  44.976039 -93.271444               860             565,582
2       55403  44.970570 -93.284044             9,970           1,006,822
3       55404  44.961996 -93.261208            12,310             467,957
4       55405  44.972669 -93.301675             8,650             994,104
5       55406  44.938689 -93.221042            18,550           1,158,199
6       55407  44.935036 -93.253029            18,890             868,889
7       55408  44.940425 -93.292639            18,840           1,076,675
8       55409  44.930326 -93.281477             6,380             472,111
9       55410  44.911823 -93.319643            10,360           1,458,333
10      55411  44.999009 -93.298363            12,210             382,828
11      55412  45.027476 -93.303546            10,690             419,444
12      55413  44.999463 -93.241677             7,310             439,713
13      55414  44.979486 -93.227314            11,000             555,750
14      55415  44.974800 -93.257647             1,400             210,499
15      55416  44.950191 -93.336325            18,510           2,074,533
16      55417  44.904440 -93.230407            13,570           1,009,540
17      55418  45.021318 -93.242853            16,850           1,018,999
18      55419  44.905799 -93.287653            13,900           1,666,840
19      55420  44.835969 -93.277176            12,090             623,343
20      55421  45.050884 -93.253812            14,950             721,271
21      55422  45.009275 -93.341105            15,170           1,155,543
22      55423  44.874460 -93.282529            19,720           1,085,549
23      55424  44.905024 -93.344865             4,610           1,464,927
24      55425  44.851166 -93.226013             4,970             245,591
25      55426  44.958311 -93.374096            14,520           1,012,479
26      55427  45.005499 -93.379150            12,730             840,448
27      55428  45.062950 -93.381362            15,530             731,287
28      55429  45.063552 -93.341097            14,170             577,061
29      55430  45.067676 -93.302089            11,460             456,337
30      55431  44.824534 -93.312602            10,730             730,258
31      55432  45.096702 -93.253726            16,270             853,081
32      55433  45.160411 -93.314839            17,630             938,978
33      55434  45.163686 -93.250434            15,330             844,094
34      55435  44.873981 -93.335255             6,970             694,879
35      55436  44.904140 -93.373157             7,040           1,576,570
36      55437  44.824347 -93.342996            10,160             847,073
37      55438  44.823132 -93.386110             9,350             957,471
38      55439  44.875630 -93.374747             4,600           1,028,280
39      55441  45.006321 -93.424636             9,670             899,420
40      55442  45.048920 -93.426212             7,080             700,510
41      55443  45.117609 -93.338118            17,230           1,140,228
42      55444  45.103999 -93.301791             8,570             455,636
43      55445  45.122441 -93.379184             5,860             388,098
44      55446  45.039140 -93.489701            10,840           1,485,946
45      55447  45.001096 -93.489561            10,950           1,201,751
46      55448  45.193638 -93.300544            14,800             916,587
47      55449  45.176580 -93.181858            13,400           1,301,836
48      55454  44.969524 -93.241219             2,970              77,863
49      55455  44.971976 -93.233777               130               3,645

In [ ]:
csv_path = "Police_Incidents_2015.csv"
police_data = pd.read_csv(csv_path)

In [ ]:
theft_df = police_data.loc[police_data["Description"] == "Other Theft",:]
burg_dwell_df = police_data.loc[police_data["Description"] == "Burglary Of Dwelling",:]
tfmv_df = police_data.loc[police_data["Description"] == "Theft From Motr Vehc",:]
bike_theft = police_data.loc[police_data["Description"] == "Bike Theft",:]

In [ ]:
params = {"key":gkey}

for index, row in theft_df.iterrows():
    lat = row['Lat']
    lng = row ['Long']
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    zip_lat_long = f"{base_url}latlng={lat},{lng}&key={gkey}"
    zip_code = requests.get(zip_lat_long)
    zip_code = zip_code.json()
    try:
         theft_df.loc[index,"Zip Code"] = zip_code['results'][0]['address_components'][7]['long_name']
    except (KeyError, IndexError):
         print("Missing field/result... skipping.")

In [ ]:
params = {"key":gkey}

for index, row in burg_dwell_df.iterrows():
    lat = row['Lat']
    lng = row ['Long']
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    zip_lat_long = f"{base_url}latlng={lat},{lng}&key={gkey}"
    zip_code = requests.get(zip_lat_long)
    zip_code = zip_code.json()
    try:
         burg_dwell_df.loc[index,"Zip Code"] = zip_code['results'][0]['address_components'][7]['long_name']
    except (KeyError, IndexError):
         print("Missing field/result... skipping.")

In [ ]:
params = {"key":gkey}

for index, row in tfmv_df.iterrows():
    lat = row['Lat']
    lng = row ['Long']
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    zip_lat_long = f"{base_url}latlng={lat},{lng}&key={gkey}"
    zip_code = requests.get(zip_lat_long)
    zip_code = zip_code.json()
    try:
         tfmv_df.loc[index,"Zip Code"] = zip_code['results'][0]['address_components'][7]['long_name']
    except (KeyError, IndexError):
         print("Missing field/result... skipping.")

In [ ]:
params = {"key":gkey}

for index, row in bike_theft.iterrows():
    lat = row['Lat']
    lng = row ['Long']
    
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    zip_lat_long = f"{base_url}latlng={lat},{lng}&key={gkey}"
    zip_code = requests.get(zip_lat_long)
    zip_code = zip_code.json()
    try:
         bike_theft.loc[index,"Zip Code"] = zip_code['results'][0]['address_components'][7]['long_name']
    except (KeyError, IndexError):
         print("Missing field/result... skipping.")

In [ ]:
theft_df = theft_df.dropna()
tfmv_df.dropna()
bike_theft = bike_theft.dropna()

In [ ]:
theft_df.to_csv("theft_df.csv")

In [ ]:
burg_dwell_df.to_csv("burg_dwell_df.csv")

In [ ]:
tfmv_df.to_csv('tfmv_df.csv')

In [ ]:
# Store 'Lat' and 'Lng' into  locations for zip codes
zip_locations = combined_zip_codes[["Lat", "Long"]].astype(float)

In [ ]:
# Store 'Lat' and 'Lng' into  locations for theft
locations_theft = theft_df[["Lat", "Long"]].astype(float)

In [ ]:
# Store 'Lat' and 'Lng' into  locations for burgulary
locations_burg = burg_dwell_df[["Lat", "Long"]].astype(float)

In [ ]:
# Store 'Lat' and 'Lng' into  locations for theft from motor vehicle
locations_tfmv = tfmv_df[["Lat", "Long"]].astype(float)

In [ ]:
# Store 'Lat' and 'Lng' into  locations for theft from motor vehicle
locations_bike = bike_theft[["Lat", "Long"]].astype(float)

In [ ]:
# Create bank symbol layer
theft_dots = gmaps.symbol_layer(
    locations_theft, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 150, 250, 0.4)', scale=1,)

fig = gmaps.figure()
fig.add_layer(theft_dots)
fig

In [ ]:
# Create bank symbol layer
burg_dots = gmaps.symbol_layer(
    locations_burg, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(150, 0, 0, 0.4)', scale=1,)

fig = gmaps.figure()
fig.add_layer(burg_dots)
fig

In [ ]:
# Create bank symbol layer
tfmv_dots = gmaps.symbol_layer(
    locations_tfmv, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=1,)

fig = gmaps.figure()
fig.add_layer(tfmv_dots)
fig

In [ ]:
# Create bank symbol layer
bike_dots = gmaps.symbol_layer(
    locations_bike, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 150, 0, 1)', scale=2,)

fig = gmaps.figure()
fig.add_layer(bike_dots)
fig

In [ ]:
zip_dots = gmaps.symbol_layer(
    zip_locations, fill_color='rgba(500, 0, 0, 0.4)',
    stroke_color='rgba(500, 0, 0, 0.4)', scale=2,)

fig = gmaps.figure()
fig.add_layer(zip_dots)
fig.add_layer(bike_dots)
fig